:root {
  --fontBell: Bellefair, sans-serif;
  --fontBar: Barlow, sans-serif;
  --fontBarC: Barlow Condensed, sans-serif;

  --colorDark: 11, 13, 23;
  --colorGray: 56, 59, 75;
  --colorWhite: 255, 255, 255;
  --colorLight: 208, 214, 249;

  --color-invisible: #00000000;

  --transition-time: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(var(--colorWhite));
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: rgb(var(--colorDark));
}
